.p0 { padding: 0; }
.p1  { padding: 15px; }
.p2  { padding: 30px; }
.p3  { padding: 45px; }

.m0 { margin: 0; }
.m1 { margin: 15px; }
.m2 { margin: 30px; }
.m3 { margin: 45px; }


.pt0 { padding-top: 0; }
.pt { padding-top: 30px; }
.pt1 { padding-top: 15px; }
.pt2 { padding-top: 45px; }
.pt3 { padding-top: 60px; }

.mt0 { margin-top: 0; }

.mt { margin-top: 30px; }
.mt1 { margin-top: 15px; }
.mt2 { margin-top: 45px; }
.mt3 { margin-top: 60px; }
